{{ define "main" }}

<h1>Add Items</h1>
<form hx-post="/" hx-target="#items" hx-swap="beforeend" hx-indicator="#spinner">
	<div class="mb-2">
		<label class="block text-sm font-medium text-gray-700">X</label>
		<input name="X" type="text" class="border border-gray-300 rounded-md px-4 py-2 w-full" />
	</div>
	<div class="mb-2">
		<label class="block text-sm font-medium text-gray-700">Y</label>
		<input name="Y" type="text" class="border border-gray-300 rounded-md px-4 py-2 w-full" />
	</div>

	<button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-medium px-4 py-2 rounded-r-md">
		Salvar
	</button>
	<div class="flex items-center justify-center htmx-indicator" id="spinner">
		<div class="inline-flex animate-spin rounded-full h-8 w-8 border-t-2 border-b-2 border-gray-900"></div>
	</div>
</form>

<ul class="mt-5" id="items">
	{{ range .Items }}
		{{ block "items-element" .}}
			<li>{{ .X }} - {{ .Y }}</li>
		{{ end }}
	{{ end }}
</ul>

{{ end }}
